<div id="home">
    <h1>My name is Bob Tabor.</h1>
    <h1>I am a self taught web developer living in Scottsdale, AZ.</h1>
    <h3>I began learning everything I could about web development beginning in 2013.</h3>
    <h3>I'm excited about finding a position in web development, and becoming a valuable asset in the industry.</h3>
    <h3>If you're looking for a hard worker that you can count on, <%= link_to "contact me", 'messages/new' %> today!</h3>
</div>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://30andb.com/themtngroup', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), 'http://30andb.com/mbl', target: '_blank' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), 'http://30andb.com/p3', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>

