<hgroup>
    <h1>Welcome to my site.</h1>
    <h1>I am a freelance web developer based out of Scottsdale, AZ.</h1>
    <h4>This site was built using the Ruby on Rails web framework.</h4>
    <h4>Rails easily and quickly creates dynamic and database driven websites that can turn your ideas into reality.</h4>
    <h4><%= link_to "Contact Me", contact_path %> Today So We Can Get Started!</h4>
    <h4>Websites start at only $85!</h4>
</hgroup>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://themtngroup.com/', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), '#' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), '#', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>

