<h1>Welcome to my site.  I am a freelance web developer based out of Scottsdale, AZ.</h1>
<p>This site was built using the Ruby on Rails web framework.</p>
<p>Rails easily and quickly creates dynamic and database driven websites that can turn your ideas into reality.</p>
<p><%= link_to "Contact Me", contact_path %> Today So We Can Get Started!</p>
<p>Websites start at only $85!</p>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://themtngroup.com/', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), '#' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), '#', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>

