<hgroup>
    <h1>Welcome to my site.</h1>
    <h1>I am a self taught web developer based out of Scottsdale, AZ.</h1>
    <h4>Currently I am looking for a new opportunity which will allow me to continue to grow and learn.</h4>
    <h4>If you're looking for a hard worker that you can count on, <%= link_to "contact me", 'messages/new' %> today!</h4>
</hgroup>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://themtngroup.com/', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), 'http://themtngroup.com/mybaseballlesson', target: '_blank' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), 'http://themtngroup.com/p3', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>

