<hgroup>
    <h1>Welcome to my site.</h1>
    <h1>I am a freelance web developer based out of Scottsdale, AZ.</h1>
    <h4>Currently I am available for hire.  Let me help you turn your ideas into reality.</h4>
    <h4>I can be hired to help you design and build your website or to join your organization today!</h4>
    <h4><%= link_to "Contact Me", 'messages/new' %> Today So I Can Begin Helping You!</h4>
    <h4>Websites start at only $85!</h4>
</hgroup>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://themtngroup.com/', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), 'http://themtngroup.com/mybaseballlesson', target: '_blank' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), 'http://themtngroup.com/p3', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>

