<h1>Welcome To My Portfolio Page</h1>
<p>These are just some of the projects I have worked on recently.</p>

<div id="portfolio">
    <div class="port_img">
    <%= link_to image_tag("store.jpg", alt: "Fake Store Site", class: "port_img", size: "250x213"), 'http://btfakestore.herokuapp.com', target: '_blank' %>
    </div>

    <div class="port_img">
    <%= link_to image_tag("cms.jpg", alt: "Simple CMS Site", class: "port_img", size: "250x213"), 'http://btsimplecms.herokuapp.com', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("mtngroup.jpg", alt: "The MTN Group Site", class: "port_img", size: "250x213"), 'http://themtngroup.com', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("sbt.jpg", alt: "Select Baseball Site", class: "port_img", size: "250x213"), 'https://selectbaseballtryouts.herokuapp.com/', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("csr.jpg", alt: "Colorado Sports Report Site", class: "port_img", size: "250x213"), 'http://coloradosportsreport.com', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("p3.jpg", alt: "Power Pitching Site", class: "port_img", size: "250x213"), 'http://www.themtngroup.com/p3/', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("mbl.jpg", alt: "My Baseball Lesson Site", class: "port_img", size: "250x213"), 'http://www.themtngroup.com/mybaseballlesson/', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("sample.jpg", alt: "Sample App Site", class: "port_img", size: "250x213"), 'http://btsampleapp.herokuapp.com', target: '_blank' %>
    </div>
</div>