<h1>Welcome To My Portfolio Page</h1>
<h4>These are just some of the projects I have worked on recently.</h4>

<div id="portfolio">
  <div class="port_img">
    <%= link_to image_tag("6rev.jpg", alt: "6Revisions Site", class: "port_img", size: "225x188"), 'http://30andb.com/6revisions', target: '_blank' %>
  </div>

    <div class="port_img">
        <%= link_to image_tag("scrd.jpg", alt: "SCR Dodgers Site", class: "port_img", size: "225x188"), 'http://30andb.com/dodgers', target: '_blank' %>
    </div>

    <div class="port_img">
    <%= link_to image_tag("store.jpg", alt: "Fake Store Site", class: "port_img", size: "225x188"), 'http://btfakestore.herokuapp.com', target: '_blank' %>
    </div>

    <div class="port_img">
    <%= link_to image_tag("cms.jpg", alt: "Simple CMS Site", class: "port_img", size: "225x188"), 'http://btsimplecms.herokuapp.com', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("mtngroup.jpg", alt: "The MTN Group Site", class: "port_img", size: "225x188"), 'http://30andb.com/themtngroup', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("sbt.jpg", alt: "Select Baseball Site", class: "port_img", size: "225x188"), 'https://selectbaseballtryouts.herokuapp.com/', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("csr.jpg", alt: "Colorado Sports Report Site", class: "port_img", size: "225x188"), 'http://coloradosportsreport.com', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("p3.jpg", alt: "Power Pitching Site", class: "port_img", size: "225x188"), 'http://30andb.com/p3', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("mbl.jpg", alt: "My Baseball Lesson Site", class: "port_img", size: "225x188"), 'http://30andb.com/mbl', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("sample.jpg", alt: "Sample App Site", class: "port_img", size: "225x188"), 'http://btsampleapp.herokuapp.com', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("mtngroup2.jpg", alt: "MTN Group 2.0 Site", class: "port_img", size: "225x188"), 'http://30andb.com/themtngroup2', target: '_blank' %>
    </div>

    <div class="port_img">
      <%= link_to image_tag("animation.jpg", alt: "MTN Group Animation", class: "port_img", size: "225x188"), 'http://30andb.com/mtngroupintro', target: '_blank' %>
    </div>
</div>