<h1>Contact Me</h1>
<div id="contact">
  <!-- <h2>Send Me A Direct Message</h2> -->
   <%= form_for @message do |f| %>
    <% if @message.errors.any? %>
        <div class="error_messages">
          <h2>We're sorry, <%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h2>
          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!-- <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :content, "Message" %><br />
      <%= f.text_area :content, :rows => 5 %>
    </div>
    <div class="actions"><%= f.submit "Send Message" %></div>
<% end %>
</div> -->

<div id="contact_2">
  <h2>Email Me</h2>
  <h3><%= mail_to "bobtabor@q.com"%></h3>
  <br>
  <h2>Call Me</h2>
  <h3>480-767-3309</h3>
  <br>
  <h3><%= link_to "Visit Me At LinkedIn", 'http://www.linkedin.com/pub/bob-tabor/4b/739/705', target: '_blank' %></h3>
 </div>
</div>