    <footer>
      <nav>
        <ul>
            <li> <%= link_to 'Resume', '/resource/Resume.pdf' %> </li>
            <li> <%= link_to "Experience", '#' %></li>
            <li> <%= link_to "Testimonials", '#' %></li>
            <li> <%= link_to "GitHub Repositories", 'https://github.com/Snoopbobb', target: "_blank" %></li>
            <li> <%= link_to "LinkedIn", 'http://www.linkedin.com/pub/bob-tabor/4b/739/705', target: "_blank" %></li>
        </ul>
      </nav>
    </footer>
</body>
</html>