    <footer>
      <nav>
        <ul>
            <li> <%= link_to "Resume", '#' %> </li>
            <li> <%= link_to "Experience", '#' %></li>
            <li> <%= link_to "Testimonials", '#' %></li>
            <li> <%= link_to "GitHub Repositories", '#' %></li>
            <li> <%= link_to "LinkedIn", '#' %></li>
        </ul>
      </nav>
    </footer>
</body>
</html>