    <footer>
      <h2> &copy 2014 BobTabor </h2>
      <nav>
        <ul>
            <li> <%= link_to "Resume", 'Resume.pdf', target: '_blank'  %> </li>
            <li> <%= link_to "Experience", experience_path %></li>
            <li> <%= link_to "Testimonials", testimonials_path %></li>
            <li> <%= link_to "GitHub Repositories", 'https://github.com/Snoopbobb', target: "_blank" %></li>
            <li> <%= link_to "LinkedIn", 'http://www.linkedin.com/pub/bob-tabor/4b/739/705', target: "_blank" %></li>
        </ul>
      </nav>
    </footer>
</body>
</html>